.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.container-user{
   min-width: 50% !important;
}

.user-delete-table{
    min-width: 50vw !important;
}