@media only screen and (max-width: 967px){
    .inputs{
        flex-direction: column;
        width: 100%;
    }
    input, select{
        width: 100% !important;
        min-width: unset !important;
    }
    form{
        text-align: center;
        padding: 10px;
    }
    
    /*input radio */
    input[type='radio']{
        width: 10px !important;
        height: 10px !important;
    }
}

@media only screen and (max-width: 903px){
    #text-description{
        padding: 0px 20px;
    }
}



@media only screen and (max-width: 829px){
    .imgs-container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
   .social{
       position: fixed;
       padding: 0 10px 0 10px;
       bottom: 40px;
       
   }
   .social img{
       width: 70px;
   }
   .form{
       margin-bottom: 80px;
   }
   .par-div-text p{
       font-size: 25px;
   }
   .form-contato{
    padding: 10px;
   }
   .contato-trb{
    padding: 0px;
    justify-content: center;
    align-items: center;
    }
    .parceiros{
        flex-direction: column;
    }

    .div-historia{
        display: none;
    }
    .mob-h{
        display: block;
    }

    .chat-frame-container iframe{
        width: 100vw !important;
    }
    .chat-frame-container{
        right: 0;
    }

    .chat-frame-container .open-form{
        width: 100vw !important;
    }
    
}

@media only screen and (max-width: 500px){
    .emp-text1 p{
        font-size: 20px;
        margin: 30px 1.8px 0 1.8px;
    }
    .welcome-container p{
        font-size: 20px;
    }
    #text-description{
        font-size: 16px;
    }
    .welcome-container{
        width: 319px;
        height: 123.5px;
    }
    form > :nth-child(2){
        font-size: 10px;
    }

    form > p:first-child{
        font-size: 16px;
    }
    .footer p{
        font-size: 12px;
        text-align: center;
    }
    .form-contato form p{
        font-size: 40px;
        
    }
    .form-contato form > p:nth-child(2){
        font-size: 20px;
    }
    .certificao-select{
        justify-content: center;
        align-items: center;
    }
    .certificao-select .inputs-radio{
        margin-left: 0;
        justify-content: center;
    }
    .curriculo-anexo{
        justify-content: center;
        align-items: center;
    }
    .chat-frame-container iframe{
        width: 100vw !important;
    }
    .chat-frame-container{
        right: 0;
    }

    .chat-frame-container .open-form{
        width: 100vw !important;
    }
    
    
}