@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --color-logo: rgba(5, 26, 48, 1);
    --color-welcome: rgba(217, 229, 232, 0.78);
    --color-texts-type1: rgba(134, 151, 156, 1);
    --color-texts-type2: rgba(134, 151, 156, 1);
    --color-from: rgba(217, 229, 232, 1);
    --color-placeholder-form: rgba(191, 191, 191, 1);
    --color-send-button-form: rgba(0, 180, 18, 1);
    --color-send-button-form-type-2:  rgba(134, 151, 156, 1);
    --color-footer: rgba(232, 232, 232, 1);
    --color-text-footer: rgba(134, 151, 156, 1);
    --color-navbar-container: rgba(237, 237, 237, 1);
    --color-navbar-menus: rgba(120, 120, 120, 1);
    --color-box: rgba(14, 63, 116, 1);
    --color-box-line: rgba(0, 0, 0, 0.2);
    --color-box-button: rgba(0, 102, 212, 1);
    --color-send-job-from: rgba(134, 151, 156, 1);
    --color-icons-background: rgba(207, 207, 207, 1);
    --color-line-pages: rgba(134, 151, 156, 0.33);
    
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- NAV BAR --- */
nav{
    width: 100%;
    background-color: var(--color-navbar-container);
}

ul{
    list-style: none;
    display: flex;
    height: 47px;
    justify-content: center;
    align-items: center;
    margin: 27px 0 0 0 ;
    
}
li a{
    padding: 20px;
    text-decoration: none;
    color: var(--color-navbar-menus);
    font-size: 14px;
}

.logo-main{
    display: flex;
    max-height: 156px;
    background-color: var(--color-logo);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-main img{
    width: 100%;
    max-width: 313px;
    max-height: auto;
}

/* Mobile navbar */
.navbar-mobile{
    display: none;
}

.navbar-content{
    overflow: hidden;
}

.mobile-navbar{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.menu-btn-mobile::after{
    display: inline-block;
    content: " ";
    background-image: url('../resource/img/icons/menu\ phone.png');
    background-size: 35px 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    min-width: 40px;
    min-height: 40px;
    margin-top: 15px;
}
.menu-btn-mobile{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-navbar-container);
    transition: height 0.6s ease-in-out;
    height: 55px;
}
.open-menu{
    height: 0;
    transition: height 0.6s ease-in-out;
    
}

.mobile-active{
    transition: height 1s ease-in-out;
    height: 310px;
}
.mobile-navbar ul{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.mobile-navbar li{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid var(--color-box-line);
    width: 100%;
}
.mobile-navbar .close-btn::after{
    content: "X";
    font-size: 25px;
    width: 40px;
    height: 40px;
    color: var(--color-navbar-menus);
}

/* -- MAIN --- */
.hero{
    
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hero img{
    width: 100%;
    height: auto;
}

.welcome-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 545px;
    height: 211px;
    background-color: var(--color-welcome);
    text-align: center;
    align-self: center;
    margin-top: 5vw;
    
}
.welcome-container p{
    color: black !important;
    font-size: 40px;
}

.emp-text1{
    width: 100%;
    align-self: center;
    margin-top: 20px;
}

.hero p{
    font-size: 50px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: var(--color-texts-type1);
    /*margin-top: 30px;*/
}

.hero span, .par-div-text span{
    width: 103px;
    height: 3px;
    background-color: var(--color-line-pages);
    align-self: center;
    margin-top: 40px;
}

#text-description{
    max-width: 900px;
    font-size: 20px;
    color: var(--color-texts-type2);
    text-align: justify;
}

.main-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.imgs-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.imgs-text img{
    width: 344px;
    height: auto;
    border-radius: 50%;
}

.imgs-text p{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    max-width: 380px;
}

/* Form */
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 37px 0 10px 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    min-height: 246px;
    background-color: var(--color-from);
    border-radius: 26px;
    padding: 20px;
}
form > :nth-child(2){
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: normal ;
}
form > p:first-child{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}
.inputs input, select, button{
    margin: 5px 5px 17px 40px;
    padding: 6px 6px 6px 10px;
    min-width: 200px;
    height: 30px;
    box-shadow: none;
    border: none;
}
.inputs input::placeholder, select, input[type="date"]{
    color: var(--color-placeholder-form);
    font-size: 12px;
}
textarea::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
textarea{
    padding-top: 8px;
}


#nameInput, #emailInput{
    min-width: 391px;
}
.inputs > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inputs > div > span, button > span{
    content: " ";
    left: 15px;
    top: 5px;
    position: absolute;
    background-color: black;
    /*min-width: 30.1px;
    min-height: 30.1px;*/
    width: 30.1px;
    height: 30.1px;

}
.inputs > div:nth-child(7){
    width: 100%;
}

button{
    position: relative;
}
button > span{
    top: 0;
    left: 35px !important;
}
button{
    background-color: var(--color-send-button-form);
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}


#userId{
    background-image: url('../resource/img/icons/user-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}
#cpfId{
    background-image: url('../resource/img/icons/password-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}
#perfilId{
    background-image: url('../resource/img/icons/perfil-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}
#emailId{
    background-image: url('../resource/img/icons/email-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}
#telId{
    background-image: url('../resource/img/icons/fone-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}
#dateId{
    background-image: url('../resource/img/icons/calendar-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: var(--color-icons-background);
    background-position: center;
}

#sendBtn{
    left: 30%;
    background-image: url('../resource/img/icons/send-icon.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-position-y: 6px;
}


/* Parceiros */
.parceiros{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.parceiros img{ 
    width: auto;
    max-height: 200px;
    margin: 20px;

}
.par-div-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.par-div-text{
    display: flex;
    flex-direction: column;
}

/* Nossa historia */
.div-historia img{
    width: 100%;
    height: auto;
}
.mob-h{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url('../resource/img/b-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.64);
}

#back-historia{
    position: absolute;
}
.mob-h p{
    font-size: 18px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

.div-historia{
    display: block;
}
.mob-h{
    display: none;
}
/* contato */

.form-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.form-contato form{
    all: unset;
    max-width: 1000px;
}
.cont-input{
    display: flex;
    flex-wrap: wrap;
}
.cont-input > input, textarea{
    height: 40px;
    flex: 1 1 auto;
    margin: 6px;
    padding-left: 10px;
}
.cont-input > textarea{
    width: 100%;
    height: 300px;

}

.form-contato form p{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 50px;
    
}
.form-contato form > p:nth-child(2){
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}
.btn-contato{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.btn-contato button{
    border-radius: 0px;
    background-color: var(--color-send-button-form-type-2);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.contato-trb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
}
.container-box{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    min-width: 350px;
    max-width: 400px;
    height: 150px;
    margin: 20px;
    background-color: var(--color-box);
    color: white;
}

.container-box p{
    all: unset;
    font-family: 'Roboto', sans-serif;
}
.container-box > :first-child{
    font-weight: bold;
    margin-top: 10px;
}
.container-box > p:not(:first-child){
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
}
.container-box button{
    font-family: 'Roboto', sans-serif;
    justify-self: flex-start;
    width: 100px;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 0;
    background-color: var(--color-box-button);
    font-size: 15px;
}

.container-box span{
    width: 100%;
    height: 3px;
    background-color: var(--color-box-line);
    margin: 5px;
}
/*Cadastro trabalhe conosco*/
.cadastro-page form > p{
   justify-content: center;
}
.cadastro-page form input:nth-child(3){
   display: none;
}
label{
    color: var(--color-navbar-menus);
}
.certificao-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 20px;
    width: 100%;
    
}
.curriculo-anexo{
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.curriculo-anexo label{
    margin-bottom: 5px;
}
input[type="file"]{
    color: var(--color-navbar-menus);
    font-size: 15px;
    width: max-content !important;
}
.certificao-select > div{
    margin: 10px 0 0 50px;
    width: 100%;
    
}
/* input[type="radio"]{
    
    width: 5px !important;
    
} */
.certificao-select .inputs-radio{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.certificao-select .inputs-radio > input{
    margin-right: 10px;
}

/* About */
.div-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: 20px;
    flex-wrap: wrap;

}
.about-container{
    flex-direction: row;
    
}
.about-container img{
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.div-about p{
   all: unset;
   font-family: 'Roboto', sans-serif;
   font-size: 18px; 
   text-align: justify;
}
/*Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 44px;
    background-color: var(--color-footer);
    color: var(--color-text-footer);
    font-size: 16px;
}

.social{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 20px 40px;
}
.social img{
    width: 100px;
    height: auto;
}

.display-none-content{
    display: none !important;
}

/* Chat main */
.title-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.title-chat p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--color-texts-type2);
    text-align: center;
}

.chat-container-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.chat-container-form .form1{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--color-box-button);
}

.chat-container-form .form1 label{
    font-size: 20px;
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: white;
}
.chat-container-form .form1 label:not(:first-child){
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: white;
}
.chat-container-form .form1 img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.chat-container-form .form1 input{
    width: 90% !important;
    height: 35px;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
}
.chat-container-form .form1 input::placeholder{
    color: var(--color-placeholder-form);
}

.chat-container-form .form1 input[type="submit"]{
    font-size: 20px;
    width: 100px;
    height: 40px;
}

.chat-container-form .form2{
    display: none;
    width: 500px;
    height: 500px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-container-form .form2 input{
    margin: 0;
}
.chat-container-form .form2 textarea{
    width: 80%;
    height: 40px;
    margin: 0;
    resize: none !important;
}
.chat-container-form .form2 input[type="submit"]{
    width: 100px;
    height: 40px;
}
.chat-message{
    position: relative;
}

.chat-container-form .messages-send{
    position: absolute;
    display:  flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    left: 0;
    right: 0;
    top: 20px;
    overflow-y: scroll;
    
}

.chat-container-form .messages-send .message-block{
    width: max-content;
    max-width: 350px;
    height: fit-content;
    background-color: rgba(207, 207, 207, 0.719);
    margin-bottom: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 10px 5px 15px;
}
.chat-container-form .messages-send .message-block > p:nth-child(1){
    font-weight: bold;
}
.chat-container-form .messages-send .message-block > p:nth-child(3){
    font-size: 12px;
}
.chat-container-form .messages-send .message-block > p:nth-child(2){
    margin: 5px 0 5px 0;
    direction: ltr !important;
}
.message-block > span{
    display: none;
}

.chat-container-form .messages-send .client{
    float: right;
    direction: rtl;
    align-self: flex-end;
    background-color: rgb(141, 219, 141);
    padding: 5px 10px 5px 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    
}
.init-head-message{
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}
.init-head-message p{
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.form-display-block{
    display: flex !important;
}
.form-display-none{
    display: none !important;
}

/* Chat support*/
.online-status{
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}
.form1 .online-status label{
    font-size: 16px;
    margin: 0 9px 0 0;
}
.form1 .online-status input{
    width: 20px !important;
    height: 20px !important;
    margin: 0;
}

