<div class="form">
    <form action="">
        <p>Solicite sua simulação de empréstimo</p>
        <p>Preencha o formulário e aguarde nosso contato!</p>
        <div class="inputs">
            <div><span id="userId"></span><input id="nameInput" type="text" placeholder="Nome completo*"></div>
            <div><span id="cpfId"></span><input type="text" placeholder="CPF*"></div>
            <div><span id="perfilId"></span><select name="perfil-inv" id="perfil-inv">
                    <option value="select">Escolha seu perfil...</option>
                    <option value="INSS">INSS</option>
                    <option value="Federal">Federal</option>
                    <option value="Municipal">Municipal</option>
                    <option value="Estadual">Estadual</option>
                </select></div>
            <div><span id="emailId"></span><input id="emailInput" type="email" placeholder="Email*"></div>
            <div><span id="telId"></span><input type="tel" placeholder="Telefone*"></div>
            <div><span id="dateId"></span><input type="date"></div>
            <div><button type="submit" value=""><span id="sendBtn"></span>ENVIAR</button></div>
        </div>
    </form>
</div>
<div class="social">
    <a href="https://api.whatsapp.com/send?phone=5531984707717"><img src="./resource/img/icons/watsapp-icon.png"
            alt=""></a>
    <a class="chat-link" href="#" target=""><img src="./resource/img/icons/chat-icon.png" alt=""></a>
    <div class="chat-frame-container">
        <span><a href="#">X</a></span>
        <div class="frame-maximaze"><a target="_black"><img id="maximaze-img" src="./resource/img/icons/maximize-size.png" alt=""></a></div>
        <iframe class="chat-frame" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<footer class="footer">
    <p>Copyright © 2020 CredMilla – todos os direitos reservados.</p>
</footer>